.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 0.85rem;
  text-transform: uppercase;
  list-style: none;
}

.main-nav li {
  padding-bottom: 5px;
  margin-left: 30px;
  position: relative;
  font-weight: bold;
}

.main-nav a {
  color: #432
}

.main-nav a:hover {
  color: #0bd;
    text-decoration: none;
}

a {
  text-decoration: none;
}

.main-nav li{
  margin-top: 34px;
}

.main-nav li:nth-child(-n+4)::before {
  content: "";
  width: 0;
  height: 1.4px;
  background: #0bd;
  position: absolute;
  top: 80%;
  left: 50%;
  transition: all .8s;
}

.main-nav div {
  margin-top: 25px;
  margin-left: 30px;
}

.main-nav li:nth-child(-n+4):hover::before {
  left: 15%;
  width: 70%;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.search-bar form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(133, 213, 225, .5);
      border-radius: 5px;
}

.search-bar input, button {
  border: none;
  outline: none;
}

.search-bar input {
  width: 100%;
  height: 42px;
  padding-left: 13px;
  padding-right: 46px;
}

.search-bar button {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: absolute;
}

/*搜索框*/
.search-bar input {
  border: 2px solid rgba(133, 213, 225, .5);
  border-radius: 5px;
  color: #9E9C9C;
}

.search-bar button {
  top: 0;
  right: 0;
  background: rgba(133, 213, 225, .5);
  border-radius: 0 5px 5px 0;
  transition: .8s;
}
.search-bar button:hover{
  background:#45b9cf;
  box-shadow: 2.5px 2px 5px #45b9cf;
}

.search-bar button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #fff;}

  .page-header p{
    font-size: 10px;
    font-weight: normal;


  }

  .main-nav .navicon{

    margin-left: 15px;
  }
  .main-nav .navicon a{
  font-size: 1.2rem;
    color: rgba(133, 213, 225, 1);;

  }
.main-nav .navicon a:hover{

  color:  #45b9cf;
  text-shadow: 1px 1px 20px #45b9cf;

}



























*{padding: 0;margin: 0;box-sizing: border-box;}
li{
    list-style: none;
    float: left;
}
ul img{
    width: 333px;
    height: auto;

}
.container{
    width: 1000px;
    margin: 40px auto 0;
    overflow: hidden;
    position: relative;
    border: 0px solid black;

    padding-left: 0px;
padding-right: 0px;
}
ol{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px;
    margin-left: -50px;
    z-index: 999;

}
ol li{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
}

.container ul{
       animation:Yui 9s cubic-bezier(0, 1, 0, 1) 3s infinite ;
       width: 400%;

}
@keyframes Yui{
      0% {
        transform: translateX(0px);
      }
      33% {
        transform: translateX(-999px);
      }
      66% {
        transform: translateX(-1998px);
      }
      100% {
        transform: translateX(0px);
      }

}
ol li {
  animation:focus 9s linear infinite ;//时间要和图片保持一致
  }
  ol li:nth-child(1) {
    animation-delay: 0s;
  }
  ol li:nth-child(2) {
    animation-delay: 3s;
  }
  ol li:nth-child(3) {
    animation-delay: 6s;
  }

  @keyframes focus {

    0% {
      background-color: #45b9cf;
    }
    20% {
      background-color: #45b9cf;
    }
    33% {
      background-color: #fff;
    }
  }
